body
{
  background-image:linear-gradient(to top right,#907450,#89bfc7);
  
}

.gradient 
  { 
    
    color: white;
    margin-top: 10%;
    margin-left: 35%;
    height: 300px; width:30%;
    border-radius: 3%;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to top right,#934e14,#c7a789);
    ;
   
  }
.gradient2 
  { 
    color: white;
    font-family: 'Kaushan Script', cursive;
    height: 150px; width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-image:linear-gradient(to top right,#934e14,#c7a789);
    border-radius: 3%;
    
  }

  .gradient2 ul
  {
    color:white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 40px;
  }
  .gradient2 ul li a
  {
    color:white;
    text-decoration: none;
  }

  .gradient3 
  { 
    
    color: white;
    margin-top: 10%;
    margin-left: 30%;
    height: 500px; width:40%;
    border-radius: 3%;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to top right,#934e14,#c7a789);
    ;
   
  }

  .gradient4 
  { 
    
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    height: 500px; width:80%;
    border-radius: 3%;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to top right,#934e14,#c7a789);
    ;
   
  }
  .gradient5 
  { 
    
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    height: 60%; width:80%;
    border-radius: 3%;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: space-around;
    background-image:linear-gradient(to top right, grey, #88c1d0);
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
   
  }

  .gradient5 tr
  { 
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
   
  }
  .gradient5 td
  { 
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
   
  }
  .gradient7
  { 
    
    color: white;
    margin-top: 10%;
    margin-left: 35%;
    height: 300px; width:30%;
    border-radius: 3%;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to top right,#934e14,#c7a789);
    ;
   
  }

  textarea
  {
    margin-left: -20%;
    width: 150%;
    height: 200px;
    text-align: center;
  }

h1
{
  display: flex;
  flex-direction:row;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 100px;
  margin-top: 5%
}
h2
{
  display: flex;
  flex-direction:row;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 80px;
  margin-top: 5%
}
  


.gradient6
  { 
    color: white;
    margin-top: 100%;
    font-family: 'Kaushan Script', cursive;
    height: 150px; width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-image:linear-gradient(to top right,#934e14,#c7a789);
    border-radius: 3%;
    
  }

  .gradient6 ul
  {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 40px;
  }
  .gradient6 ul li a
  {
    color: white;
    text-decoration: none;
  }

p
{ 
  font-family: 'Ma Shan Zheng', cursive;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: 60px;

}

label
 {
  display: flex;
  flex-direction: column;
  align-items:center;
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;

 }
  
 main
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .BG4
 {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }



table
{
  margin-top: 5%;
  color:white;
  font-size: 50px;
}

.BG
{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BG2
{
  margin-left: 50%;
}
